<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/justb/Desktop/MegaSync/Z_JAVA_PROJECTS/Testing Automation">
        <classes>
            <class name="tests.CasosDePrueba">
                <methods>
                    <include name="testInputDatosCorrectos"/>
                    <include name="testPreservacionDatosIngresados"/>
                    <include name="testEnvioFormularioVacio"/>
                    <include name="testInputDatosEmailErroneo"/>
                    <include name="testInputDatosNumeroErroneo"/>
                    <include name="testIngresoFolioPagoErroneo"/>
                    <include name="testRedireccionUrl"/>
                    <include name="testBusquedaMapa"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>